.cabecalho {
    background-color: #EBA95B;
    color: black;
    display: flex;
    padding: 10px 0;
}

.section1 {
    background-color: burlywood;
}

.section2 {
    background-color: darksalmon;
}